<h1 class="title">Editing Retailer</h1>

<%= render 'form', retailer: @retailer %>

<hr/>

<%= link_to 'Show', @retailer, class: 'button is-link' %>
<%= link_to 'Back', foodbot_retailers_path, class: 'button is-text' %>
