<h1 class="title">Editing Language</h1>

<%= render 'form', language: @language %>

<hr/>

<%= link_to 'Show', @language, class: 'button is-link' %>
<%= link_to 'Back', octobot_languages_path, class: 'button is-text' %>
