<p>
  <strong>Title:</strong>
  <%= @language.title %>
</p>

<p>
  <strong>Active:</strong>
  <%= @language.active %>
</p>

<hr/>

<%= link_to 'Edit', edit_octobot_language_path(@language), class: 'button is-link' %>
<%= link_to 'Back', octobot_languages_path, class: 'button is-text' %>
