<h1 class="title">Editing Product Type</h1>

<%= render 'form', product: @product %>

<hr/>

<%= link_to 'Show', @product, class: 'button is-link' %>
<%= link_to 'Back', foodbot_products_path, class: 'button is-text' %>
