<section class="hero">
  <div class="hero-body">
    <div class="tile">
      <%= link_to foodbot_root_path, class: 'tile is-parent' do %>
        <article class="tile is-child notification is-primary">
          <div class="content">
            <p class="title">Food</p>
            <p class="subtitle">Food discount notifications</p>
          </div>
        </article>
      <% end %>

      <%= link_to octobot_root_path, class: 'tile is-parent' do %>
        <article class="tile is-child notification is-info">
          <div class="content">
            <p class="title">Github</p>
            <p class="subtitle">Github trends notifications</p>
          </div>
        </article>
      <% end %>
    </div>
  </div>
</section>
