$variable-columns: false;

@import "~bulma/bulma";

.navbar {
  box-shadow: 0 0 1px #868686;
}

.card {
  min-height: 370px;
}

.card-content {
  padding: 1rem;

  &:first-child {
    padding-bottom: 0;
  }
}

.is-primary {
  &:hover {
    background: darken($turquoise, 5%);
  }
}

.is-info {
  &:hover {
    background: darken($cyan, 5%);
  }
}